apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "laravel-app.fullname" . }}-traefik-config
  labels:
    {{- include "laravel-app.labels" . | nindent 4 }}
data:
  traefik.yaml: |
    global:
      checkNewVersion: true
      sendAnonymousUsage: false
    api:
      dashboard: true
